<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controladores.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <display-name>SistemaEstagio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IdentificarUsuario</display-name>
    <servlet-name>IdentificarUsuario</servlet-name>
    <servlet-class>controladores.IdentificarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentificarUsuario</servlet-name>
    <url-pattern>/IdentificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoIntencaoEstagio</display-name>
    <servlet-name>PedidoIntencaoEstagio</servlet-name>
    <servlet-class>controladores.PedidoIntencaoEstagio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoIntencaoEstagio</servlet-name>
    <url-pattern>/PedidoIntencaoEstagio</url-pattern>
  </servlet-mapping>
</web-app>